{% extends 'layout.html' %}

{% block styles %}
<!-- Common Button Style -->
<link rel="stylesheet" href="styles/button.css" />

<!-- Google Button Font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

{% endblock %}

{% block content %}
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">OAuth Document</a>
    </div>
</nav>
<div class="container py-5">
    <button class="kakao-auth-btn" tabindex="1">
        <span class="symbol">
            <img src="assets/kakao/kakao_symbol.png" />
        </span>
        <span class="label">Sign in with Kakao</span>
    </button>
    <button class="google-auth-btn" tabindex="2">
        <span class="symbol">
            <img src="assets/google/g-logo.png" />
        </span>
        <span class="label">Sign in with Google</span>
    </button>
    <button class="facebook-auth-btn" tabindex="3">
        <span class="symbol">
            <img src="assets/facebook/f_logo_RGB-White_1024.png" />
        </span>
        <span class="label">Sign in with Facebook</span>
    </button>
    <button class="apple-auth-btn" tabindex="4">
        <span class="symbol">
            <img src="assets/apple/White Logo Square@3x.png"/>
        </span>
        <span class="label">Sign in with Apple</span>
    </button>
    <button class="naver-auth-btn" tabindex="5">
        <span class="symbol">
            <img src="assets/naver/btnG_square.png" />
        </span>
        <span class="label">Sign in with Naver</span>
    </button>
    <button class="github-auth-btn" tabindex="6">
        <span class="symbol">
            <img src="assets/github/GitHub-Mark-Light-120px-plus.png" />
        </span>
        <span class="label">Sign in with Github</span>
    </button>
</div>
{% endblock %}