{% extends 'layout.html' %}

{% block styles %}
<!-- Common Button Style -->
<link rel="stylesheet" href="styles/button.css" />

<!-- Google Button Font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

{% endblock %}

{% block content %}
<button class="kakao-auth-btn">
    <span class="symbol">
        <img src="assets/kakao/kakao_symbol.png" />
    </span>
    <span class="label">Login with Kakao</span>
</button>
<button class="google-auth-btn">
    <span class="symbol">
        <img src="assets/google/g-logo.png" />
    </span>
    <span class="label">Sign In with Google</span>
</button>
<div class="fb-login-button" data-width="250" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>

<!-- Facebook Auth SDK -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v11.0" nonce="XWkBYhr5"></script>
{% endblock %}